.select {
  display: flex;
  align-items: center;
  gap: 10px;

  label {
    white-space: nowrap;
  }

  select {
    cursor: pointer;
    background-color: transparent;
    width: 100%;
    border: none;
    border-bottom: 1px solid $color-text;
    color: $color-text;
    font-size: 1em;
    text-overflow: ellipsis;

    &:focus,
    &:focus-visible {
      outline: none;
      color: $color-primary;
    }

    option {
      background-color: $color-bg;
      color: white;
    }
  }
}
