h1,
h2,
h3,
h4,
h5,
a {
  font-weight: normal;
  text-shadow: 0 0 5px currentColor;
}

a {
  text-decoration: none;
  color: $color-text;
  transition: $transition;

  &:hover {
    text-shadow: 0 0 10px currentColor;
  }
}
